/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

.jost-light {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost-semi-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jost-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atomic";
  src: url('/fonts/atomic.woff2');
}

.atomic {
  font-family: "Atomic", cursive;
  font-weight: 400;
}

/* VARIABLES */
:root {
  --bg-color: #121600;
  --color-accent: #d5ff00;
  --color-twitch: #9146ff;
  --color-twitch-ice: #f0f0ff;
}

/* GENERAL STYLES */
body {
  background-color: var(--bg-color);
}

.color-accent {
  color: var(--color-accent);
}

/* COMPONENTS STYLES */
/* HERO */
.logo-velada {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 1));
}